<div id="banner" style="background-image: url(https://images.unsplash.com/photo-1551554781-c46200ea959d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <h1 id="head-line">Read. Collect. Trade.</h1>
</div>
<img src="https://imgur.com/a/RAr8NFu" alt="">
